:root{
    --background-color1: rgb(148, 104, 87);
    --background-color2: rgba(50, 94, 73, 0.818); 
    --background-colorbtn: rgb(56, 52, 52);
    --colorbtn: rgb(210, 187, 187);
}
body{
   padding: 5px;
   box-sizing: border-box; 
   background-color: rgb(20, 30, 40);
    color: linen;
}
header{
    width: 100%;
    display: flex;
    background-color: var(--background-color2);
     align-items: center;
    justify-content: space-between;
    height: 80px;
    margin: 0;
    border-radius: 3px;
}
h1{
  font-family: cursive;
  font-size: 20px;
  padding: 10px;
  margin: 5px;
  font-style: italic;
  text-decoration: line-through;
}
nav{
  width: 50%;
  height: 70px;
  max-width: 400px;
  display: flex;
  position: sticky;
  top: 10px;
  right: 20px;
}
nav>ul{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  list-style: none;
  margin-block: 0;
  padding-inline-start: 0;
  position: sticky;
  top: 10px;
  right: 20px;
}
nav>ul>li{
  display: block;
  padding: 7px;
  margin: 0.04rem;
}
nav>ul>li>a{
  text-decoration: none;
  color: white;
  font-family: cursive;
  font-weight: 2px;
  border: 3px solid black;
  background-color: black;
  border-radius: 4px;
  font-size: 10px;
  padding: 5px;
  transition: ease-in-out;
}
nav>ul>li>a:hover{
  color: gold;
  background-color: grey;
  border: none;
  transform: translate(9px, 7px);
    cursor: pointer;
}
#home{
  height: 100vh;
  text-align: center;
  align-items: center;
  margin-top: 50%;
  padding: 15px;
  font-size: 30px;
  font-family: roboto;
}
button{
  width: 50%;
  color: white;
  background-color: black;
  padding: 10px;
  font-size: 17px;
  font-family: cursive;
  border: 3px solid black;
  border-radius: 10px;
  margin-top: 20px;
  transition-duration: 0.5s;
  transition: ease-in-out;
    cursor: pointer;
}
button:hover{
  color: gold;
  background-color: grey;
  border: none;
  transform: translate(4px, 3px) scale(1.2) rotate(-2deg);
    cursor: pointer;
}
button:disabled{
  cursor: not-allowed;
  color: red;
}
.quote{
  margin-top: 10px;
  text-decoration: underline;
  font-family: fantasy;
  display: block;
}
#about{
  height: 100vh;
  align-items: center;
  padding: 15px;
  margin-left: 15px;
  font-size: 20px;
  display: block;
  font-family: sans-serif;
  font-style: italic;
}
h2{
  font-family: verdana;
  text-decoration: overline;
  font-size: 40px;
  font-style: italic;
}
h3{
  font-family: verdana
}
ol{
  list-style-position: outside;
}
#projects{
  padding: 20px;
  margin: 10px;
  height: 100vh;
  font-family: sans-serif;
  font-size: 25px;
  font-style: italic;
}
.link{
  padding: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  font-family: cursive;
  font-size: 25px;
  transition-duration: 0.3s all;
}
.link:hover{
  text-decoration: underline;
  color: lightblue;
  transform: translate(10px 7px);
  cursor: pointer;
}
.link:active{
  color: gold;
}
.link:focused{
  color: cyan;
}
.link:visited{
  color: red;
}
#contact{
  height: 100vh;
  text-align: center;
  padding: 25px;
  dispay: flex;
}
#feedback{
  padding: 20px;
  font-family: verdana;
  font-size: 20px;
  height: 100vh;
  margin-left: 20px;
}
#submit{
  margin-left: 30px;
}
form{
  max-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
fieldset{
  border-color: black;
  border-radius: 5px;
}
legend{
  text-align: center;
  font-family: cursive;
  font-size: 30px;
  text-decoration: underline;
  color: grey;
}
select{
  max-height: 70px;
  padding: 1px;
  font-size: 20px;
  border: none;
  margin: 0;
  heigth: 10px;
  border-color: none;
  border-radius: 15px;
}
option{
  height: 20px;
  width: 20px;
  padding: 5px;
}
.container{
  display: flex;
  text-align: center;
  padding: 10px;
  flex-direction: column;
  width: 80%;
}
input[type="email"], input[type="tel"]{
  padding: 10px;
  border: 3px solid grey;
  border-radius: 6px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 13px;
  text-align: center;
  font-family: cursive;
    box-shadow: 2px 2px 5px lightgray;
}
input:valid{
  border-color: green;
}
input:invalid{
  border-color: red;
}
textarea{
  padding: 20px;
  border: 2px solid grey;
  border-radius: 10px;
     box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.5);
}
footer{
    color: linen;
    bacground-color: var(--background-color1);
    display: grid;
    grid-template-row: 1fr 1fr 1fr;
}
@media only screen and (max-width: 720px){
    nav>ul>li{
        padding: 2px;
        font-size: 10px;
    }
    nav>ul{
        padding: 2px;
    }
    nav > ul > li > a{
        padding 2px;
    }
}
        




